<script type="text/javascript">
    $(window).load(function(){
    $('#myModal').modal('show');
    });
</script>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">
        <span class="label label-default">Sign in</span></h4>
      </div>
      <div class="modal-body">

<center>
<style>
 tr {
   height:40px;
 }
 td {
   width:150px;
 }
</style>
<table>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
<tr>
  <td><div><%= f.label :email %></td>
  <td><%= f.email_field :email, autofocus: true %></div></td>
</tr>
<tr>
  <td><div><%= f.label :password %></td>
  <td><%= f.password_field :password, autocomplete: "off" %></div></td>
<tr>
</tr>
  <% if devise_mapping.rememberable? -%>
  <td><div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div></td>
  <% end -%>

  <div>
  <td><button class="btn btn-primary btn-lg" action="submit">
  Sign in
  </button></td>
  </div>
<% end %>
</tr>
</table>

<%= render "devise/shared/links" %>
</center>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>