<p id="notice"><%= notice %></p>

<%= image_tag @post.user.avatar.url(:thumb), class: 'profile' %>
<%= link_to @post.user.name, @post.user %>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<% if @post.avatar? %>
<p>
  <strong>Attachment:</strong><br>
  <%= image_tag @post.avatar.url(:medium) %>
</p>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<%= link_to pluralize(@comments.count, 'comment'), @post %>
<%= render 'shared/like_form' %>
<%= render 'shared/form' %>
<%= render @comments  %>
