
<%= image_tag @post.user.avatar.url(:thumb), class: 'profile' %>
<%= link_to @post.user.name, @post.user %>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<% if @post.video? %>
<p>
  <strong>Video:</strong><br>
  <div class="flex-video">
  <video width="330" height="220" controls="controls" preload="preload">
    <source src="<%= @post.video.url %>" type="video/mp4; codecs="avc1.42E01E, mp4a.40.2"">
  </video>
  </div>
  <%# video_tag @post.avatar.url(:medium) %>
</p>
<% end %>

<% if @post.avatar?%>
<p>
  <strong>Avatar:</strong><br>
  <%= image_tag @post.avatar.url(:medium) %>
</p>
<%end%>

<% if @post.audio?%>
<p>
  <strong>Audio:</strong><br>
  <audio width="330" height="220" controls="controls" preload="preload"><source src = "<%= @post.audio.url %>"> </audio>
</p>
<%end%>

<% if @post.file?%>
<p>
  <strong>File:</strong><br>
  <%= link_to "Click here to download file", @post.file.url %>
</p>
<%end%>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
 
<%= @post.class %> <%= @post.id %>
<%= render 'shared/like_form', likeable: @post %>
<%= link_to pluralize(@comments.count, 'comment'), @post %>
<%= pluralize(@post.likers(User).count, 'like')%>
<%= render 'shared/form' %>
<%= render @comments  %>
